*{
  background-color: #2c2c2c;
  background-repeat: repeat-x;
  color: white;
}

#resources {
  font-size: xx-large;
  text-align: center;
  border:2px solid rgb(158, 158, 158);
  border-left-style: none;
  border-right-style: none;
  padding: 5px;
  margin-bottom: 9px;
}

.resource {
  margin: 5px;
}

.prdpersec {
  font-size: large;
  text-align: center;
  margin: 3px;
}

.producer {
  width: 23.5%;
  height: 28%;
  padding:15px;
  padding-top: 3px;
}

#producers {
  display: flex;
}

#pru1_bd {
  border: 2px dotted red;
}

#pru2_bd {
  border: 2px dotted orange;
}

#pru3_bd {
  border: 2px dotted yellow;
}

#pru4_bd {
  border: 2px dotted lime;
}

.prubt_span {
  background-color: transparent;
}

.pru_title {
  font-size: x-large;
  margin-top:3px;
  display: flex;
}

.pru_det {
  font-size: medium;
  margin-top:2px;
  margin-bottom: 3px;
}

.pru_bt {
  margin-top:15px;
  font-size: larger;
  width:100%;
  height:25%;
  background-color: rgb(156, 156, 156);
  color:black;
}
.pru_bt:hover {
  background-color: rgb(124, 124, 124);
  color:white;
}
.pru_bt:active {
  background-color: rgb(88, 88, 88);
  color:white;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: black;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .tab {
  background-color: #636363;
  border-color: #000000;
  color: #fff;
}

.auto_upspan {
  background-color: transparent;
  font-size: medium;
}

.autobuy_check {
  margin: 5px;
  transform: scale(2);
}

#autobuys {
  display: flex;
}

.autobuy {
  width: 23.5%;
  height: 25%;
  padding:15px;
  padding-top: 3px;
}

.autobuy_title {
  font-size: x-large;
  margin-top:3px;
}

.toggle_auto {
  font-size: large;
}

.autobuy_upbt {
  margin-top: 0px;
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(156, 156, 156);
}

.autobuy_upbt:hover {
  background-color: rgb(124, 124, 124);
}

.autobuy_upbt:active {
  background-color: rgb(88, 88, 88);
}

#pru1_autobuy {
  border: 1px solid red;
  display: block;
}

#pru2_autobuy {
  border: 1px solid orange;
  display: block;
}

#pru3_autobuy {
  border: 1px solid yellow;
  display: block;
}

#pru4_autobuy {
  border: 1px solid lime;
  display: block;
}

.auto_up_exp{
  margin-bottom: 0px;
  margin-top: 10px;
}

#autobuy_discription {
  display: block;
}

#exponent_reinforce_bt {
  background-color: yellow;
  color:black;
  width: 450px;
  height: 180px;
  font-size: large;
  display: block;
}

#exponent_reinforce_bt:hover {
  background-color: gold;
}

#exponent_reinforce_bt:disabled {
  background-color: gray;
}

#exponent_reinforce_req {
  background-color: transparent;
  color: black;
}

#rate_reinforce_bt {
  background-color: lime;
  color:black;
  width: 400px;
  height: 160px;
  font-size: large;
  margin-bottom: 15px;
}

#rate_reinforce_bt:hover {
  background-color: rgb(0, 206, 0); 
}
#rate_reinforce_bt:disabled {
  background-color: gray;
}

#rate_reinforce_req {
  background-color: transparent;
  color: black;
}


#end {
  text-align: center;
}